prototypes/danger_detection/dataset/train
prototypes/danger_detection/dataset/test
prototypes/danger_detection/dataset/valid
prototypes/danger_detection/dataset/workersafety.zip

prototypes/danger_detection/src/__pycache__